$primary: #D83926;
// $secondary: #CD1889;
$secondary: #D83926;
// $success: #008C41;
// $warning: #FFDC00;
// $alert: #E53726;
$success: #D83926;
$warning: #FFAE00;
$alert: #D83926;

// Custom vars
$title-bar-bg: #ffffff;
$link-color: #2c2930;
$navbar-fg: #2c2930;
$navbar-fg-hover: #333333;
$navbar-bg: #f2f2f2;
$navbar-bg-hover: #e5e5e5;
